.container{
                    	max-width : 800px;
                    	margin : 0 auto;
                    	color : #ff1245;
                    	background-color : white;
                    	font-family : sans-serif;
                        }
                        body{
                            margin-top : 60px;
                            padding-left :20px;
                            padding-right :20px;
                            margin-bottom : 30px;
                            background-color : gray;
}
.center{
    padding-top : 20px;
}